<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- include jQuery, so we have access to the $.post function -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="../static/functions.js"></script>

  <title>SmartBnB</title>
  <link rel='icon' href='https://cdn.shopify.com/s/files/1/2263/3863/t/3/assets/gem20170926170925_reerth-rewards-tier-icons-3.png?3908571769976669947' type='image/png'/ >
</head>

<body>
  <main role="main" class="container">
    <div class="page-bg">
    </div>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a class="active" href="/about">About</a></li>
      <li><a href="/predict">Predictor</a></li>
    </ul>
    <form class='about-page'>
      <h3>
        About SmartBnB
      </h3>
      <a href="/predict">SmartBnB</a> helps new Airbnb hosts navigate the hurdles of listing strategies by suggesting a listing price for their property for a given day. It is a machine-learning platform powered
      by historical Airbnb data in Chicago, IL. The model uses information related to listings with high review rates, so that the suggested price yields high booking rates as well. Time series analysis of prices
      is incorporated into the model, such that seasonal, weekly, and holiday-related fluctuations in prices are reflected in the final suggested price. The price breakdown provided by SmartBnB provides users with
      insight on market behavior, thus helping them make more informed decisions in their listing strategies.
      <br>
      <br>
      <br>
      <br>

    </form>
    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
